{% extends 'base.html.twig' %}

{% block body %}
    <section class="home">
        <div class="main-image-container">
            <span class="main-image-overlay"></span>
            <img class="main-image" src="{{ asset('images/home.png') }}" alt="{{ 'home.image.alt'|trans }}">
            <div class="main-text">
                <h1>{{ 'home.image.title'|trans }}</h1>
                <p>{{ 'home.image.description'|trans }}</p>
                <a class="btn btn-primary" href="{{ path('app_products') }}">{{ 'home.image.button.products'|trans }}</a>
            </div>
        </div>

        {{ include('partials/_our_offer.html.twig') }}

        <div class="home-order-container">
            <div class="home-order-section">
                <div class="home-order-section-left">
                    <img class="home-order-image" src="{{ asset('images/retail.png') }}"
                         alt="{{ 'home.order.retail.alt'|trans }}">
                </div>
                <div class="home-order-section-right">
                    <h1>{{ 'home.order.retail.header'|trans }}</h1>
                    <p>{{ 'home.order.retail.description'|trans }}</p>
                    <a class="btn btn-primary" href="{{ path('app_products') }}">{{ 'home.order.retail.button'|trans }}</a>
                </div>
            </div>
            <div class="home-order-section">
                <div class="home-order-section-left">
                    <img class="home-order-image" src="{{ asset('images/wholesale.png') }}"
                         alt="{{ 'home.order.wholesale.alt'|trans }}">
                </div>
                <div class="home-order-section-right">
                    <h1>{{ 'home.order.wholesale.header'|trans }}</h1>
                    <p>{{ 'home.order.wholesale.description'|trans }}</p>
                    <div class="flex-row-buttons">
                        <a class="btn btn-primary" href="{{ path('app_wholesale') }}">{{ 'home.order.wholesale.button'|trans }}</a>
                        <a class="btn btn-primary" href="{{ path('app_contact') }}">{{ 'home.order.contact.button'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
