<section class="service-section card-element" data-box="services">
    <h2>{{ 'services.header'|trans }}</h2>
    <div class="service-container">
        <div class="offer-box">
            <img class="offer-icon" src="{{ asset('build/images/icon8.svg') }}"/>
            <span class="offer-title">{{ 'services.custom_solution.header'|trans }}</span>
            <span class="offer-desc">{{ 'services.custom_solution.text'|trans }}</span>
        </div>
        <div class="offer-box">
            <img class="offer-icon" src="{{ asset('build/images/icon1.svg') }}"/>
            <span class="offer-title">{{ 'services.one_page.header'|trans }}</span>
            <span class="offer-desc">{{ 'services.one_page.text'|trans }}</span>
        </div>
        <div class="offer-box">
            <img class="offer-icon" src="{{ asset('build/images/icon2.svg') }}" alt=""/>
            <span class="offer-title">{{ 'services.landing_page.header'|trans }}</span>
            <span class="offer-desc">{{ 'services.landing_page.text'|trans }}</span>
        </div>
        <div class="offer-box">
            <img class="offer-icon" src="{{ asset('build/images/icon4.svg') }}"/>
            <span class="offer-title">{{ 'services.blog.header'|trans }}</span>
            <span class="offer-desc">{{ 'services.blog.text'|trans }}</span>
        </div>
        <div class="offer-box">
            <img class="offer-icon" src="{{ asset('build/images/icon5.svg') }}"/>
            <span class="offer-title">{{ 'services.admin_panel.header'|trans }}</span>
            <span class="offer-desc">{{ 'services.admin_panel.text'|trans }}</span>
        </div>
        <div class="offer-box">
            <img class="offer-icon" src="{{ asset('build/images/icon6.svg') }}"/>
            <span class="offer-title">{{ 'services.crm_system.header'|trans }}</span>
            <span class="offer-desc">{{ 'services.crm_system.text'|trans }}</span>
        </div>
        <div class="offer-box">
            <img class="offer-icon" src="{{ asset('build/images/icon7.svg') }}"/>
            <span class="offer-title">{{ 'services.cms_system.header'|trans }}</span>
            <span class="offer-desc">{{ 'services.cms_system.text'|trans }}</span>
        </div>
    </div>
</section>
