<section class="welcome-container card-element" data-box="start">
    <div class="overlay"></div>
    <img class="image" src="{{asset('build/images/office.jpg')}}" alt="background, office image">
    <div class="overlay-text">{{ 'home.welcome.message'|trans }}</div>
    <div class="input-container">
        <div class="input-wrapper">
            <label>
                <input type="text" placeholder="{{ 'home.welcome.input.placeholder'|trans }}" class="input-field">
            </label>
            <img class="loop" src="{{asset('build/images/loop.svg')}}" alt="loop">
        </div>
        <button class="get-started-button">{{ 'home.welcome.input.button'|trans }}</button>
    </div>
</section>
