<header id="page-navbar">
    {# --- LOGO --- #}
    <div class="logo">
        <a class="link-logo" href="{{ path('app') }}">TEDIEFOOTWEAR</a>
    </div>
    {# --- END LOGO --- #}
    <div class="navigation">
        {# --- LANGUAGE --- #}
        <div class="nav-lang">
            <button class="nav-lang-button link-btn">
                <i class="fi fi-{{ get_locale_flag(app.locale) }} fis fi-lang"></i>
                {{ get_locale_name(app.locale) }}
            </button>
            <ul class="flag-dropdown">
                {% for locale in get_all_locales() %}
                    {% if app.locale != locale.code %}
                        <li>
                            <a class="nav-lang-link link" href="{{ path('app_language_changer', { 'locale': locale.code }) }}">
                                <i class="fi fi-{{ locale.flag }} fis fi-lang"></i>
                                {{ locale.name }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {# --- END LANGUAGE --- #}
        {# --- NAVIGATION LINKS --- #}
        <a href="{{ path('app') }}" class="link-btn active">{{ 'navigation.home'|trans }}</a>
        <a href="{{ path('app_about') }}" class="link-btn">{{ 'navigation.about'|trans }}</a>
        <div class="dropdown">
            {# --- PRODUCTS DROPDOWN --- #}
            <a href="{{ path('app_products') }}" class="dropdown-btn link-btn">{{ 'navigation.products'|trans }}</a>
            <div class="dropdown-content">
                {% set columns = 4 %}
                {% set categories = product_categories %}
                {% set items_per_column = (categories|length / columns)|round(0, 'ceil') %}

                {% for column in 0..(columns - 1) %}
                    <div class="column">
                        {% for i in 0..(items_per_column - 1) %}
                            {% set index = column * items_per_column + i %}
                            {% if categories[index] is defined %}
                                <a class="link-btn"
                                 href="{{ set_category_url('app_products', categories[index]) }}"
                                > {{ categories[index].getNameByLanguage(get_locale()) }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            {# --- END PRODUCTS DROPDOWN --- #}
        </div>
        <a href="{{ path('app_wholesale') }}" class="link-btn">{{ 'navigation.wholesale'|trans }}</a>
        <a href="{{ path('app_contact') }}" class="link-btn">{{ 'navigation.contact'|trans }}</a>
        <a href="{{ path('app_faq') }}" class="link-btn">{{ 'navigation.faq'|trans }}</a>
        {# --- END NAVIGATION LINKS --- #}
        {# --- SEARCH INPUT --- #}
        <span class="search-btn">
            <button>
                <img src="{{ asset('build/images/icons/loop.svg') }}" alt="loop icon as search button"/>
            </button>
            <label>
                <input class="search-input" type="text">
            </label>
        </span>
        {# --- END SEARCH INPUT --- #}
    </div>
    <div class="mobile-menu-btn">&#9776;</div>
</header>
