<h2 class="main-h2-header">{{ 'home.category.header'|trans }}</h2>
<div class="main-categories-container">
    <a class="main-category" href="{{ path('app_products') }}">
        <img class="main-category-image" src="{{ asset('images/category/category-ws.png') }}"
             alt="{{ 'home.categories.ws.alt'|trans }}">
        <p class="main-category-text">{{ 'home.categories.ws.text'|trans }}</p>
        <p class="main-category-description">{{ 'home.categories.ws.description'|trans }}</p>
    </a>
    <a class="main-category" href="{{ path('app_products') }}">
        <img class="main-category-image" src="{{ asset('images/category/category-ms.png') }}"
             alt="{{ 'home.categories.ms.alt'|trans }}">
        <p class="main-category-text">{{ 'home.categories.ms.text'|trans }}</p>
        <p class="main-category-description">{{ 'home.categories.ms.description'|trans }}</p>
    </a>
    <a class="main-category" href="{{ path('app_products') }}">
        <img class="main-category-image" src="{{ asset('images/category/category-wc.png') }}"
             alt="{{ 'home.categories.wc.alt'|trans }}">
        <p class="main-category-text">{{ 'home.categories.wc.text'|trans }}</p>
        <p class="main-category-description">{{ 'home.categories.wc.description'|trans }}</p>
    </a>
    <a class="main-category" href="{{ path('app_products') }}">
        <img class="main-category-image" src="{{ asset('images/category/category-mc.png') }}"
             alt="{{ 'home.categories.mc.alt'|trans }}">
        <p class="main-category-text">{{ 'home.categories.mc.text'|trans }}</p>
        <p class="main-category-description">{{ 'home.categories.mc.description'|trans }}</p>
    </a>
    <a class="main-category" href="{{ path('app_products') }}">
        <img class="main-category-image" src="{{ asset('images/category/category-ks.png') }}"
             alt="{{ 'home.categories.ks.alt'|trans }}">
        <p class="main-category-text">{{ 'home.categories.ks.text'|trans }}</p>
        <p class="main-category-description">{{ 'home.categories.ks.description'|trans }}</p>
    </a>
</div>
