{% extends 'base.html.twig' %}

{% block body %}
    <div class="breadcrumb">
        <ul>
            <li><a href="{{ path('app_products') }}">{{ 'breadcrumb.products'|trans }}</a></li>
            <li>
                {{ product.name[get_locale()] is defined
                    ? product.name[get_locale()]
                    : product.name[get_default_locale()] }}
            </li>
        </ul>
    </div>
    <div class="product-details-container">
        {% include 'products/partials/_product_images.html.twig' %}

        <div class="product-main">
            <div class="product-labels">
                {% if product.isNew %}
                    <span class="label new-label">{{ 'product.new_label'|trans }}</span>
                {% endif %}
                {% if product.isTop %}
                    <span class="label top-label">{{ 'product.top_label'|trans }}</span>
                {% endif %}
            </div>
            <h1 class="product-title">
                {{ product.name[get_locale()] is defined
                    ? product.name[get_locale()]
                    : product.name[get_default_locale()] }}
            </h1>
        </div>
        <div class="product-info">
            <div class="product-description">
                <div id="description-content" class="description-content">
                    {{ product.description[get_locale()] is defined
                        ? product.description[get_locale()]|nl2br
                        : product.description[get_default_locale()]|nl2br }}
                </div>
                <button id="toggle-description-btn" class="toggle-description-btn"
                        data-button-more="{{ 'product.description.more_button'|trans }}"
                        data-button-less="{{ 'product.description.less_button'|trans }}"></button>
            </div>

            <div class="product-actions">
                {% if product.allegroUrl %}
                    <a href="{{ product.allegroUrl }}" class="btn allegro-btn" target="_blank">{{ 'product.actions.allegro'|trans }}</a>
                {% endif %}
                {% if product.etsyUrl %}
                    <a href="{{ product.etsyUrl }}" class="btn etsy-btn">{{ 'product.actions.etsy'|trans }}</a>
                {% endif %}
                {% if not product.allegroUrl and not product.etsyUrl %}
                    <span class="product-text-info">{{ 'product.actions.unavailable_retail'|trans }}</span>
                    <a href="{{ path('app_contact') }}" class="btn btn-primary">{{ 'product.actions.inquiry_button'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('js/product-details') }}
{% endblock %}
