<section class="products-section">
    <h2>{{ 'products.header'|trans }}</h2>
    <div class="products-box">
        {% if products is empty %}
            <div class="no-products-message">
                <p>{{ app.request.locale == 'pl' ? 'Nie ma produktów w tej kategorii.' : 'There are no products in this category.' }}</p>
            </div>
        {% else %}
            {% for product in products %}
                <a href="{{ path('app_products_show', { 'slug': product.slug }) }}" class="btn btn-product">
                    <span class="product-image">
                    {% if product.files and product.files|first %}
                        <img src="{{ product.files|first.filePath }}" alt="{{ 'alt.first.image'|trans }}">
                    {% else %}
                        <img src="{{ asset('build/images/default-slipper.webp') }}" alt="{{ 'alt.default.image'|trans }}">
                    {% endif %}
                    </span>
                    <span class="product-title">
                        {{ product.getDisplayName() }}
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </a>
            {% endfor %}
        {% endif %}
    </div>
</section>
